raw_data/
.env

# System files
.DS_Store
.ipynb_checkpoints
*.pyc
*.swp
build/
dist/
.coverage
*.iml
*.egg-info
*.vscode

images/
images_reshaped/


notebooks/mushroom_images.npy
notebooks/mushroom_metadata.pkl
notebooks/species_analysis.csv